<ul>
  {{#each dogs}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>